@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: Roboto, sans-serif !important;
}

.margintop {
    margin-top: 5rem;
}

.header {
    background-color: #FFFFFF;
    position: fixed;
    min-width: 100%;
    max-width: 1441px;
    opacity: 0.9;
    padding-left: 4.5rem;
    padding-right: 7rem;
    z-index: 99999;
}

.logo {
    width: 12.5rem;
    height: 2rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

li a {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

.nav-link {
    color: #1E1E1E;
}

.nav-link:hover {
    color: #36749D;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navcontent {
    color: #464646;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

.navcontent:hover {
    color: #36749D;
}

.text-muted {
    color: #464646;
}

.bg-primary {
    background-color: #f3f3f3 !important;
}

.firsttext {
    color: #1E1E1E;
    font-weight: bold;
    /* given500 */
    font-size: 42px;
    line-height: 60px;
}

.secondtext {
    color: #183E5E;
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;
}

.btn-primary {
    margin-top: 2rem;
    background-color: #36749D;
}

.btn-primary:hover {
    background-color: #205476;
}

.backgroundimg {
    height: 35rem;
    width: auto;
}

.bg-secondary {
    background-color: #0E2F36 !important;
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.h3font-adjust {
    font-weight: 500;
    font-size: 38px;
    line-height: 32px;
}

.h1font-adjust {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 80px;
    line-height: 32px;
}

.text-light {
    color: #CCCCCC !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.content {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
}

.thirddiv {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.thirddiv h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 42px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.cardone {
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 7rem;
    padding-bottom: 1rem;
}

.paddingright {
    padding-right: 4rem !important;
}

.paddingtop {
    padding-top: 8rem !important;
}

.paddingtop1 {
    padding-top: 9rem !important;
}

.cardone h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
}

.cardone p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.cardsize {
    width: 15rem;
    height: 15rem;
}

.imgsize {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin: auto;
    border: 8px solid #e0e0e0;
}

.headingfit {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    position: absolute;
    color: white;
}

.set1 {
    top: 9rem;
    left: 8rem;
}

.set2 {
    top: 9rem;
    left: 9.6rem;
}

.set3 {
    top: 8rem;
    left: 9rem;
}

.textfit {
    padding-left: 6rem;
    padding-right: 3rem;
}

.btn-leftindication {
    background-color: #9bb9ce99;
}

.btn-leftindication:hover {
    background-color: #9bb9ce;
    border: 1px solid #205476;
}

.bg-footer {
    background-color: #103C61;
    background-image: url("../images/footerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footertext {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.paddingtopfooter {
    padding-top: 6rem;
}

.btnborder {
    border-radius: 50%;
}

@media screen and (max-width:395px) {
    .header {
        background-color: #FFFFFF;
        position: fixed;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 100%;
        opacity: 0.9;
        z-index: 99999;
    }

    .bg-primary {
        background-color: #f3f3f3 !important;
        padding-bottom: 1.5rem;
    }

    .nospace {
        padding: 0;
        margin: 0;
    }

    .textspace {
        padding-left: 1.5rem;
    }

    .backgroundimg {
        height: auto;
        width: 24rem;
    }

    .firsttext {
        font-size: 32px;
        line-height: 40px;
    }

    .secondtext {
        font-size: 32px;
        line-height: 40px;
    }

    .h3font-adjust {
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
    }

    .cardone {
        padding: 0;
        padding-top: 6rem;
    }

    .cardone h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 38px;
    }

    .cardone p {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .thirddiv h1 {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
    }

    .paddingtop {
        padding-top: 11rem !important;
    }

    .textfit {
        padding-left: 5rem;
        padding-right: 2rem;
    }

    .set1 {
        top: 9rem;
        left: 6rem;
    }

    .set2 {
        top: 9rem;
        left: 7.4rem;
    }

    .set3 {
        top: 8rem;
        left: 7rem;
    }

    .paddingtopfooter {
        padding-top: 2rem;
    }
}

@media screen and (min-width:400px) and (max-width:430px) {
    .header {
        background-color: #FFFFFF;
        position: fixed;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 100%;
        opacity: 0.9;
        z-index: 99999;
    }

    .bg-primary {
        background-color: #f3f3f3 !important;
        padding-bottom: 1.5rem;
    }

    .nospace {
        padding: 0;
        margin: 0;
    }

    .textspace {
        padding-left: 2rem;
    }

    .backgroundimg {
        height: auto;
        width: 27rem;
    }

    .firsttext {
        font-size: 32px;
        line-height: 40px;
    }

    .secondtext {
        font-size: 32px;
        line-height: 40px;
    }

    .h3font-adjust {
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
    }

    .cardone {
        padding: 0;
        padding-top: 6rem;
    }

    .cardone h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 38px;
    }

    .cardone p {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .paddingtop {
        padding-top: 11rem !important;
    }

    .textfit {
        padding-left: 5rem;
        padding-right: 2rem;
    }

    .set1 {
        top: 9rem;
        left: 7.5rem;
    }

    .set2 {
        top: 9rem;
        left: 9rem;
    }

    .set3 {
        top: 8rem;
        left: 8.5rem;
    }

    .paddingtopfooter {
        padding-top: 2rem;
    }
}

@media screen and (min-width:450px) and (max-width:768px) {
    .header {
        background-color: #FFFFFF;
        position: fixed;
        min-width: 100%;
        max-width: 1441px;
        opacity: 0.9;
        padding-left: 3rem;
        padding-right: 3rem;
        z-index: 99999;
    }

    .nospace {
        padding: 0;
        margin: 0;
    }

    .textspace {
        padding-left: 4rem;
    }

    .backgroundimg {
        height: auto;
        width: 48rem;
    }

    .me-md-5 {
        margin-right: 7rem !important;
    }

    .cardone {
        padding-left: 3rem;
        padding-right: 2rem;
        padding-top: 7rem;
        padding-bottom: 1rem;
    }

    .textfit {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .set1 {
        top: 9rem;
        left: 5.3rem;
    }

    .set2 {
        top: 9rem;
        left: 7rem;
    }

    .set3 {
        top: 8rem;
        left: 6.5rem;
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    .margintop {
        margin-top: 6rem;
    }

    .header {
        background-color: #FFFFFF;
        position: fixed;
        min-width: 100%;
        opacity: 0.9;
        padding-left: 3rem;
        padding-right: 3rem;
        z-index: 99999;
    }

    .firsttext {
        font-size: 30px;
    }

    .secondtext {
        font-size: 30px;
    }

    .backgroundimg {
        height: 24rem;
        width: auto;
    }

    .cardone {
        padding-left: 1rem;
        padding-right: 2rem;
        padding-top: 7rem;
        padding-bottom: 1rem;
    }

    .textfit {
        padding-left: 5rem;
        padding-right: 4rem;
    }

    .set1 {
        top: 9rem;
        left: 4.7rem;
    }

    .set2 {
        top: 9rem;
        left: 6.3rem;
    }

    .set3 {
        top: 8rem;
        left: 5.5rem;
    }
}


.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}

.item {
    margin-left: 1rem;
    margin-right: 1rem;
}